$fccGreen: #006400;
$hoverBg: #cfcfcf;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  background-color: $fccGreen;
  padding-left: 20px;
  min-height: 10%;
  max-height: 50px;

  .logo {
    width: 25%;
    height: auto;
    img {
      width: 80%;
    }
  }
}

.board {
  margin: auto;
  margin-top: 20px;
  max-width: 800px;
  text-align: left;
  margin-bottom: 50px;
  border: 1px solid #333;
  border-radius: 5px;

  table {
    width: 100%;
    border-collapse: collapse;
    th {
      background-color: #ffffff;
    }
    tr, th, td {
      // height: 50px;
      padding: 10px;
    }
    tr:nth-of-type(odd) {
      background-color: #f2f2f2;
    }
    tr:hover {
      background-color: $hoverBg;
    }
  }

  .title {
    background-color: $fccGreen;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin: 0;
    border: 0;
  }
  ul {
    padding-left: 20px;
    padding-right: 20px;
  }
  a {
    text-decoration: none;
  }
  .profile-picture {
    height: 50px;
    width: 50px;
  }
  #recent-header, #all-time-header {
    cursor: pointer;
  }
  #recent-header:hover, #all-time-header:hover {
    color: $fccGreen;
  }

  .rank {
    text-align: center;
  }
  .arrow-down {
    position: relative;
  }
  .arrow-down:before {
    content: '';
    position: absolute;
    right: 10%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000000;
  }
}

@media
only screen and (max-width: 760px) {
  .header {
    height: 10vh;
    .logo {
      width: 100%;
    }
  }
  .table {
    table {
      min-width: 100%;
    }
  }
}
